body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  position: relative;
}

hr {
  width: 80%;
  margin-bottom: 30px;
}

.center-text {
  text-align: center;
  color: #fff;
}

.background {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  margin: 20px;
}

.navlink {
  display: none;
}

/* FOR THE MODAL */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  overflow: auto;
  display: none;
  visibility: hidden;
}

.modal {
  box-sizing: border-box;
  margin: 0;
  height: auto;
  background: #fff;
  padding: 20px;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h4 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.close-icon {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.modal-header .close-icon {
  color: #67798e;
}

.modal-image {
  padding: 0;
  margin: 20px 0 0 0;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-project {
  outline: none;
  background: #fff;
  border: 1px solid #6070ff;
  color: #6070ff;
  font-size: 17px;
  font-weight: bolder;
  padding: 10px;
  border-radius: 8px;
  transition:
    color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out,
    background 0.5s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  pointer-events: auto;
}

.modal .btn-project {
  padding: 2px 5px;
  display: flex;
  align-items: center;
}

.nav-list-mobile {
  list-style: none;
  padding: 100px 0 0 24px;
  margin: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.menuToggle {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.85;
  mix-blend-mode: multiply;
  background: #6070ff;
  display: none;
  visibility: hidden;
  pointer-events: all;
}

main.active .menuToggle,
main.active .nav-list-mobile {
  display: block;
  visibility: visible;
}

main.open-modal .menuToggle {
  display: block;
  visibility: visible;
  background: #c1c7d0;
}

main.open-modal .modal-overlay {
  display: block;
  visibility: visible;
}

main.open-modal .main-content {
  filter: blur(4px);
}

.hr {
  height: 1px;
  width: 100%;
  background-color: #ebecf0;
  margin: 0 0 10px 0;
}

/* THE END OF THE MODAL SETTING */

.menu {
  margin-top: 20px;
  font-size: 22px;
}

.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu > div {
  margin-bottom: 3px;
}

.hamburger-menu > div:last-child {
  margin-bottom: 0;
}

.nav-list {
  display: none;
}

.nav-list-mobile li {
  font-size: 32px;
  margin: 0 0 40px 0;
  position: relative;
}

.nav-list-mobile li a {
  color: #fff;
}

.cancel-menu {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1000;
  display: none;
}

main.active .main-content {
  filter: blur(5px);
}

main.active .menuToggle,
main.active .nav-list-mobile,
main.active .cancel-menu {
  display: block;
  visibility: visible;
}

.projects {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-section {
  padding: 0 24px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
}

.post-container {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
  border-radius: 18px;
  padding: 16px;
  display: block;
  text-decoration: none;
  border: 1px solid #4c38a5af;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}

.title {
  color: #172b4d;
  font-size: 32px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 18px 0;
  box-sizing: border-box;
}

.social-icons li {
  list-style: none;
  display: inline-block;
}

.social-icons2 li {
  list-style: none;
  display: inline-block;
}

.skills {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.skills > li {
  margin-right: 10px;
  font-size: 13px;
  font-weight: bolder;
  box-sizing: border-box;
}

.skills > li:last-child {
  margin-right: 0;
}

.proficiency {
  color: #344563;
  box-sizing: border-box;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 4px;
  box-sizing: border-box;
}

.year,
.role {
  color: #7a869a;
  box-sizing: border-box;
}

.text {
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  box-sizing: border-box;
}

.tags {
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  box-sizing: border-box;
}

.tag {
  padding: 4px 12px 4px 12px;
  font-size: 12px;
  margin-right: 12px;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  box-sizing: border-box;
}

.btn-project:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.logo {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #6070ff;
  transition: transform 1s ease-in 6s;
  transform: rotate(360deg);
}

.logo h2 {
  text-decoration: none;
}

.background h2 {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  padding-top: 90px;
  display: flex;
  align-items: center;
}

.intro {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  line-height: 24px;
  justify-content: center;
}

.connect {
  color: #2230d2;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.connect:hover {
  color: #6070ff;
}

.connect:focus {
  color: #008000;
}

.connect:active {
  color: #c1c7d0;
}

h3 {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 90px;
  padding-bottom: 100px;
}

.social-icons li a {
  padding-right: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 24px;
  padding: 10px;
}

.card-img {
  width: 100%;
}

.card-head h2 {
  color: #172b4d;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.card-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card-info .canopy {
  color: #344563;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.fa-circle {
  color: #c1c7d0;
  width: 8px;
  height: 8px;
  line-height: 16px;
}

.head-item {
  color: #3e3e3f;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-para {
  color: #344563;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.card-lang {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-tag {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 0 4px 7px;
}

button {
  background-color: #fff;
  border: 1px solid #398df2;
  border-radius: 6px;
  margin: 20px 0;
}

.seeport {
  color: #396df2;
  font-family: "Poppin", Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.03em;
  transition: background-color 700ms;
}

.seeport:hover {
  color: #fff;
  background-color: #000fff;
}

.seeport:focus {
  color: #008000;
}

.seeport:active {
  color: #c1c7d0;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.about-me {
  color: #172b4d;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
}

.about-text p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  line-height: 24px;
}

.social-icons2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.social-icons2 li a {
  padding-right: 10px;
}

.getresume:hover {
  color: #fff;
  background-color: #000fff;
}

.getresume:focus {
  color: #008000;
}

.getresume:active {
  color: #c1c7d0;
}

.language-head {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 36px 36px 36px 20px;
  line-height: 24px;
}

.java {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 20px;
}

.java span {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.java img {
  width: 50px;
  height: 48px;
  padding: 9px 12px;
}

.frame .ul {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 36px;
  line-height: 24px;
}

.skill {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 36px;
  line-height: 24px;
  padding-bottom: 30px;
  border-bottom: 4px solid #dfe1e6;
}

#contacts {
  background-image: url(images/Contactback.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/contactformback.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  padding: 82px 12px 45px 12px;
}

.contact h2 {
  color: #fff;
  margin-top: 90px;
}

.contact-p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  transition: transform;
}

.contact-p:hover {
  transform: translateX(8px);
}

input,
textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #172b4d;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 3px 15px 16px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-button {
  font-family: "Poppins", Helvetica, sans-serif;
  margin-left: 0;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: #f00;
  padding: 5px;
  font-size: 13px;
  border-radius: 5px;
  opacity: 0;
  font-weight: 700;
}

/* desktop devices */
@media only screen and (min-width: 992px) {
  .logo {
    font-size: 18px;
    line-height: 20px;
  }

  .hamburger-menu {
    display: none;
  }

  .navlink {
    display: flex;
    gap: 32px;
  }

  .primary-menu {
    color: #344563;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  #hamburger {
    display: none;
  }

  .modal {
    width: 80%;
    margin: 0 auto;
  }

  .modal-content-body {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .modal-content-body .text {
    padding-right: 30px;
  }

  .modal-btns .btn-project {
    padding: 5px;
  }

  main.open-modal .menuToggle {
    background: #c1c7d0;
  }

  .background h2 {
    color: #091e42;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
  }

  .intro {
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    line-height: 28px;
  }

  .card-img {
    width: 544px;
    height: 448px;
    transition: transform;
  }

  .card-img:hover {
    transform: scale(1.02);
  }

  .card {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 24px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  .invert {
    order: -1;
  }

  form div {
    display: flex;
    justify-content: center;
  }

  /* NEW CODE FOR THE POST CONTAINER */

  .post-section {
    padding-left: 100px;
    padding-right: 100px;
  }

  .post-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .post-container > div {
    margin: 0 0 0 0;
  }

  .post-container div:last-child {
    padding-left: 20px;
    padding-right: 20px;
  }

  .post-container .left {
    flex: 1 1 50%;
    padding: 0;
  }

  .image {
    object-fit: contain;
    height: 100%;
  }

  .post-container .right {
    width: 50%;
    padding: 10px 0 0 0;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .about {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 10%;
  }

  .about-desk h1 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    line-height: 52px;
    font-style: normal;
    font-weight: bold;
    color: #091e42;
  }

  .desk-about-section {
    display: flex;
    width: 100%;
  }

  .java {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .language {
    width: 100%;
    padding-top: 30px;
  }

  .language ul {
    display: flex;
    flex-direction: row;
  }

  /* NEW CODE FOR SKILLS SECTION */

  .skillsets {
    padding: 0;
    margin: 0;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 25%;
  }

  footer {
    padding: 79px 74px 48px 74px;
  }

  .form,
  input,
  textarea {
    width: 100%;
  }

  .error {
    font-size: 14px;
  }

  .home-indicator {
    display: none;
    visibility: hidden;
  }
}
