body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  width: 80%;
  margin-bottom: 30px;
}

.center-text {
  text-align: center;
  color: #fff;
}

.background {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  margin: 20px;
}

.navlink {
  display: none;
}

.works {
  display: grid;
  grid-row-gap: 88px;
  padding: 114px 24px;
  background-color: transparent;
}

.status-bar {
  width: 100%;
  max-width: 320px;
}

.main {
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.logo {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #6070ff;
  transition: transform 1s ease-in 6s;
  transform: rotate(360deg);
}

.logo h2 {
  text-decoration: none;
}

.background h2 {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  padding-top: 90px;
  display: flex;
  align-items: center;
}

.intro {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  line-height: 24px;
  justify-content: center;
}

.connect {
  color: #2230d2;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.connect:hover {
  color: #6070ff;
}

.connect:focus {
  color: #008000;
}

.connect:active {
  color: #c1c7d0;
}

h3 {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 90px;
  padding-bottom: 100px;
}

.social-icons li {
  list-style: none;
  display: inline-block;
}

.social-icons li a {
  padding-right: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 24px;
  padding: 10px;
}

.card-img {
  width: 100%;
}

.card-head h2 {
  color: #172b4d;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.card-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card-info .canopy {
  color: #344563;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.fa-circle {
  color: #c1c7d0;
  width: 8px;
  height: 8px;
  line-height: 16px;
}

.head-item {
  color: #3e3e3f;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card-para {
  color: #344563;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.card-lang {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-tag {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 0 4px 7px;
}

button {
  background-color: #fff;
  border: 1px solid #398df2;
  border-radius: 6px;
  margin: 20px 0;
}

.seeport {
  color: #396df2;
  font-family: "Poppin", Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.03em;
  transition: background-color 700ms;
}

.seeport:hover {
  color: #fff;
  background-color: #000fff;
}

.seeport:focus {
  color: #008000;
}

.seeport:active {
  color: #c1c7d0;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.about-me {
  color: #172b4d;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
}

.about-text p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
  line-height: 24px;
}

.social-icons2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.social-icons2 li {
  list-style: none;
  display: inline-block;
}

.social-icons2 li a {
  padding-right: 10px;
}

.getresume:hover {
  color: #fff;
  background-color: #000fff;
}

.getresume:focus {
  color: #008000;
}

.getresume:active {
  color: #c1c7d0;
}

.language-head {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 36px 36px 36px 20px;
  line-height: 24px;
}

.java {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  margin: 20px;
}

.java span {
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
}

.java img {
  width: 50px;
  height: 48px;
  padding: 9px 12px;
}

.frame .ul {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 36px;
  line-height: 24px;
}

.skill {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 36px;
  line-height: 24px;
  padding-bottom: 30px;
  border-bottom: 4px solid #dfe1e6;
}

footer {
  background-image: url(images/Contactback.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/contact\ form\ background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  padding: 82px 12px 45px 12px;
}

.contact h2 {
  color: #fff;
  margin-top: 90px;
}

.contact-p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  transition: transform;
}

.contact-p:hover {
  transform: translateX(8px);
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  width: 100%;
}

input,
textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #172b4d;
  font-family: "Poppins", Helvetica, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 20px 3px 15px 16px;
  margin-bottom: 20px;
}

.contact-button {
  font-family: "Poppins", Helvetica, sans-serif;
  margin-left: 0;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* desktop devices */
@media only screen and (min-width: 992px) {
  .status-bar {
    display: none;
  }

  .logo {
    font-size: 18px;
    line-height: 20px;
  }

  .navlink {
    display: flex;
    gap: 32px;
  }

  .primary-menu {
    color: #344563;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .menu {
    display: none;
  }

  .background h2 {
    color: #091e42;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
  }

  .intro {
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    line-height: 28px;
  }

  .card-img {
    width: 544px;
    height: 448px;
    transition: transform;
  }

  .card-img:hover {
    transform: scale(1.02);
  }

  .card {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 24px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  .invert {
    order: -1;
  }

  .about {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 10%;
  }

  .about-desk h1 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    line-height: 52px;
    font-style: normal;
    font-weight: bold;
    color: #091e42;
  }

  .desk-about-section {
    display: flex;
    width: 100%;
  }

  .java {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .language {
    width: 100%;
    padding-top: 30px;
  }

  .language ul {
    display: flex;
    flex-direction: row;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 25%;
  }

  footer {
    padding: 79px 74px 48px 74px;
  }

  form div {
    display: flex;
    justify-content: center;
  }

  .form,
  input,
  textarea {
    width: 100%;
  }
}
